{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <title>{{title}}</title>

</head>

<body class="container">
    <h1 class="display-4 text-primary">{{ title }}</h1>
    <p>{{message | safe}}</p>
    <table class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>mail</th>
            <th>birthday</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.mail}}</td>
            <td>{{item.birthday}}</td>
            <!-- <td><a href="{% url 'edit' item.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete' item.id %}" class="btn btn-danger">Delete</a>
            </td> -->
        </tr>
        {% endfor %}
    </table>
    <ul class="pagination">
        {% if data.has_previous %}
        <li class="page-item">
            <a href="{% url 'index' %}" class="page-link">&laquo; first</a>
        </li>
        <li class="page-item">
            <a href="{% url 'index' %}{{ data.previous_page_number }}" class="page-link">&laquo; prev</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link">&laquo; first</a>
        </li>
        <li class="page-item">
            <a class="page-link">&laquo; prev</a>
        </li>
        {% endif %}
        <li class="page-item">
            <!-- 現在のページ / 最終ページ -->
            <a class="page-link">{{ data.number }} / {{ data.paginator.num_pages }}</a>
        </li>
        {% if data.has_next %}
        <li class="page-item">
            <a class="page-link" href="{% url 'index' %}{{data.next_page_number}}">next &raquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{% url 'index' %}{{data.paginator.num_pages}}">last &raquo;</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link">
                next &raquo;
            </a>
        </li>
        <li class="page-item">
            <a class="page-link">
                last &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
</body>

</html>